div[data-page="app"] {
    height: 100dvh;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    background: radial-gradient(circle at top right, var(--primary-color) 0%, transparent 30%), 
                radial-gradient(circle at bottom left, var(--primary-color) 0%, transparent 30%);
}

.header__logoDiv {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-size: 3rem;
}

.header {
    position: sticky;
    top: 0;
    grid-column: 1 / -1;
    height: 10dvh;
    display: grid;
    grid-template-columns: subgrid;
    background-color: var(--primary-glass);
    backdrop-filter: blur(100px) saturate(120%);
    -webkit-backdrop-filter: blur(100px);
    border-bottom: 1px solid var(--border-color);
}

.header__tabContainer {
    grid-column: 11 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__tabLabel {
    font-size: 1.5rem;
}

.header__suppLabel {
    font-size: 0.8rem;
}

.header__tabLabel, .header__suppLabel, .header__logo {
    margin: 0;
}

.leftPanel {
    grid-column: 1 / span 2;
    background-color: var(--primary-glass);
    backdrop-filter: blur(200px) saturate(120%);
    -webkit-backdrop-filter: blur(200px);
    border-right: 1px solid var(--border-color);
}

.leftPanel__sideNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftPanel__upperBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings {
    width: 100%;
}

button {
    padding: 0;
    border: 0;
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 3fr;
}

button > svg {
    justify-self: center;
    align-self: center;
}

button > p {
    justify-self: start;
    align-self: center;
    font-size: 1.2rem;
}