div[data-page="app"] {
    height: 100dvh;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    background-color: var(--primary-background-color);
}

.header__logoDiv {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-size: 3rem;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-column: 1 / -1;
    height: 10dvh;
    display: grid;
    grid-template-columns: subgrid;
    background-color: var(--primary-glass);
    backdrop-filter: blur(100px) saturate(120%);
    -webkit-backdrop-filter: blur(100px);
    border-bottom: 1px solid var(--border-color);
}

.header__tabContainer {
    grid-column: 11 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__tabLabel {
    font-size: 1.5rem;
}

.header__suppLabel {
    font-size: 0.8rem;
}

.header__tabLabel,
.header__suppLabel,
.header__logo {
    margin: 0;
}

.leftPanel {
    grid-column: 1 / span 2;
    background-color: var(--primary-glass);
    backdrop-filter: blur(200px) saturate(120%);
    -webkit-backdrop-filter: blur(200px);
    border-right: 1px solid var(--border-color);
}

.leftPanel__sideNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftPanel__upperBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.leftPanel__lowerBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings {
    width: 100%;
}

.dashboard,
.tasks,
.projects,
.home,
.settings {
    padding: 0;
    border: 0;
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 3fr;
    background-color: transparent;
    color: var(--primary-text-color);
    transition: background-color 0.125s ease 0.05s;
}

.leftPanel__upperBtns button:hover,
.leftPanel__lowerBtns button:hover,
.logout:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

button>svg {
    justify-self: center;
    align-self: center;
}

button>p {
    justify-self: start;
    align-self: center;
    font-size: 1.2rem;
}

.logout:hover>svg {
    stroke: var(--warning-color);
}

.logout:hover .logOut {
    color: var(--warning-color);
}

.mainPanel {
    grid-column: span 10;
    overflow: auto;
}

.mainPanel::-webkit-scrollbar,
.tasksContainer::-webkit-scrollbar,
.projectsContainer::-webkit-scrollbar,
.main__dashboard::-webkit-scrollbar {
    display: none;
}

.taskList__container,
.projectList__container {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

svg.edit {
    width: 24px;
    height: 24px;
}

svg.edit:hover {
    cursor: pointer;
    stroke: var(--border-color);
}

svg.delete {
    stroke: var(--border-color);
}

svg.delete:hover {
    stroke: var(--warning-color);
    cursor: pointer;
}

.taskList__item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    font-size: 20px;
    background-color: var(--secondary-background-color);
    padding: 0.85rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    flex: 1 0 0;
}

.item__left {
    display: flex;
    align-items: center;
}

.item__left>input {
    background-color: var(--primary-background-color);
}

.item__right {
    display: flex;
    align-items: center;
}

.item__right>svg {
    width: 32px;
    height: 32px;
}

.item__left,
.item__right {
    gap: 8px;
}

.tasksContainer,
.projectsContainer {
    height: 100%;
    padding: 1% 2%;
    overflow: auto;
}

.taskHeader,
.projectHeader,
.completedTaskHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 2%;
}

.taskHeader>span,
.projectHeader>span,
.completedTaskHeader>span {
    font-size: 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: 99px;
    text-align: center;
    width: 2%;
}

.tasksContainer__taskCounter,
.projectsContainer__projectCounter,
.completedTasksContainer__taskCounter {
    width: 16px;
    height: 100%;
}

.userContainer,
.logout {
    padding: 0;
    border: 0;
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 3fr;
    background-color: transparent;
    color: var(--primary-text-color);
}

.logout {
    transition: background-color 0.125s ease 0.05s;
}

.userContainer>svg,
.logout>svg {
    align-self: center;
    justify-self: center;
}

.logout>svg {
    transition: stroke 0.125s ease 0.05s;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.userName {
    font-size: 16px;
}

.userEmail {
    font-size: 12px;
}

.logOut {
    transition: color 0.125s ease 0.05s;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%
}

.main__dashboard {
    height: 100%;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.chart {
    width: 100%;
    height: 85%;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 1rem;
}

.progress {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    gap: 1.5rem;
    background-color: var(--secondary-background-color);
}

.progress__heading {
    font-size: 1.35rem;
}

.progress__bar {
    width: 100%;
    height: 80%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
    height: 75%;
    gap: 1rem;
}

.cards .card {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

.cards .card .card__header,
.card__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.cards h2 {
    font-size: 1rem;
    font-weight: 500;
}

.card__text {
    font-weight: 250;
    font-size: 0.95rem;
    color: var(--secondary-text-color);
}

.card__data {
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--heading-font);
    flex-grow: 1;
}

.week {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 85%;

}

.week span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 100px;
}

.week span>svg {
    width: 32px;
    height: 32px;
    border: 1.5px solid var(--border-color);
    padding: 0.2rem;
    border-radius: 999px;
}

.week .node__text {
    font-size: 0.85rem;
    font-weight: 400;
}

.card.kpi {
    grid-column: span 3;
}

.tasksContainer__taskList,
.completedTasksContainer__taskList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.task__btn {
    height: 70px;
    width: 100%;
    background-color: transparent;
    border: 2px dashed var(--border-color);
    color: var(--border-color);
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.task__btn:hover {
    cursor: pointer;
}

.project__btn {
    height: 150px;
    width: 450px;
    background-color: transparent;
    border: 2px dashed var(--border-color);
    color: var(--border-color);
    font-size: 1.5rem;
    border-radius: 1rem;
}

.task__btn:hover,
.project__btn:hover {
    cursor: pointer;
}

.task__btn>svg,
.project__btn>svg {
    height: 32px;
    width: 32px;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    backdrop-filter: blur(10px) saturate(120%);
    background-color: var(--primary-glass);
    -webkit-backdrop-filter: blur(50px);
}

.taskForm,
.projectForm {
    height: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

.taskForm__title,
.projectForm__title {
    text-align: center;
}

.taskForm div,
.projectForm div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.taskForm div input,
.projectForm div input {
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-background-color);
    border-radius: 0.35rem;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}

.taskForm>div:nth-child(3)>input {
    height: 50px;
}

.taskForm ::placeholder,
.taskForm>div:nth-child(4)>input::placeholder {
    color: var(--secondary-text-color);
}

.taskForm>div:nth-child(4)>input::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.taskForm>div:nth-child(5) div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--primary-background-color);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

.taskForm>div:nth-child(5) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.taskForm button,
.projectForm button {
    height: 40px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
    border-radius: 0.35rem;
}

.taskForm button:hover,
.projectForm button:hover {
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-inline-size: auto;
    flex: 1 0 0;
}

legend {
    padding: 0;
    margin-bottom: 1rem;
}

.projectList__item {
    height: 150px;
    width: 450px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    gap: 1rem;
}

.projectItem__header {
    display: flex;
    justify-content: space-between;
}

.projectsContainer__projectList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 2rem;
}

.titleContainer {
    display: flex;
    gap: 0.875rem;
}

.titleContainer>svg {
    stroke: var(--primary-color);
    height: 24px;
    width: 24px;
}

.titleContainer+svg {
    height: 24px;
    width: 24px;
}

.titleContainer+svg:hover {
    cursor: pointer;
    stroke: var(--primary-color);
}

.projectList__item svg.delete {
    align-self: end;
}

.projectList__item:hover {
    cursor: pointer;
    border-color: var(--light-border-color);
}

.recommendedTaskList .taskList__container .taskList__item {
    font-size: 14px;
    font-family: var(--text-font);
    padding: 0.1rem 0.5rem;
}

.recommendedTaskList .taskList__container .taskList__item .item__left label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
}

.recommendedTaskList .taskList__container .taskList__item svg {
    height: 20px;
    width: 20px;
}

.recommendationContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.recommendedTaskList {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}