div[data-page="app"] {
    height: 100dvh;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    background-color: var(--primary-background-color);
}

.header__logoDiv {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-size: 3rem;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-column: 1 / -1;
    height: 10dvh;
    display: grid;
    grid-template-columns: subgrid;
    background-color: var(--primary-glass);
    backdrop-filter: blur(100px) saturate(120%);
    -webkit-backdrop-filter: blur(100px);
    border-bottom: 1px solid var(--border-color);
}

.header__tabContainer {
    grid-column: 11 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__tabLabel {
    font-size: 1.5rem;
}

.header__suppLabel {
    font-size: 0.8rem;
}

.header__tabLabel,
.header__suppLabel,
.header__logo {
    margin: 0;
}

.leftPanel {
    grid-column: 1 / span 2;
    background-color: var(--primary-glass);
    backdrop-filter: blur(200px) saturate(120%);
    -webkit-backdrop-filter: blur(200px);
    border-right: 1px solid var(--border-color);
}

.leftPanel__sideNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftPanel__upperBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings {
    width: 100%;
}

.dashboard,
.tasks,
.projects,
.home,
.settings {
    padding: 0;
    border: 0;
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 3fr;
    background-color: transparent;
    color: var(--primary-text-color);
    transition:
        background-color 0.125s ease 0.1s,
        color 0.3s ease 0.1s;
    /* delay = 0.2s */
}

.leftPanel__upperBtns button:hover,
.leftPanel__lowerBtns button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    color: var(--primary-background-color);
}

button>svg {
    justify-self: center;
    align-self: center;
}

button>p {
    justify-self: start;
    align-self: center;
    font-size: 1.2rem;
}

.mainPanel {
    grid-column: span 10;

}

.taskList__item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    font-size: 20px;
}

.item__left {
    display: flex;
    align-items: center;
}

.item__left>input {
    background-color: var(--primary-background-color);
}

.item__right {
    display: flex;
    align-items: center;
}

.item__right>svg {
    width: 32px;
    height: 32px;
}

.item__left,
.item__right {
    gap: 8px;
}

.tasksContainer {
    height: 100%;
    padding: 1% 2%;
}

.taskHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 2%;
}

.taskHeader>span {
    font-size: 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: 99px;
    text-align: center;
    width: 2%;
}

.tasksContainer__taskCounter {
    width: 16px;
    height: 100%;
}