/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 800.0;
*
* available axes:
'wght' (range from 200.0 to 800.0
*/
@font-face {
    font-family: 'Panchang-Variable';
    src: url('./assets/fonts/Panchang/Panchang-Variable.woff2') format('woff2'),
        url('./assets/fonts/Panchang/Panchang-Variable.woff') format('woff');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Sentient-Variable';
    src: url('./assets/fonts/Sentient/Sentient-Variable.woff2') format('woff2'),
        url('./assets/fonts/Sentient/Sentient-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0wght 400.0;
*
* available axes:
'wght' (range from 200.0 to 700.0'wght' (range from 200.0 to 700.0
*/
@font-face {
    font-family: 'Sentient-VariableItalic';
    src: url('./assets/fonts/Sentient/Sentient-VariableItalic.woff2') format('woff2'),
        url('./assets/fonts/Sentient/Sentient-VariableItalic.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-background-color: #0E0E10;
    --primary-glass: rgba(14, 14, 16, 0.562);
    --secondary-background-color: #1A1A1D;
    --primary-text-color: #EAEAEA;
    --secondary-text-color: #9D9D9D;
    --primary-color: #18F2B2;
    --warning-color: #F25C5C;
    --border-color: #2A2A2D;
    --hover-color: #19191b;

    --heading-font: 'Panchang-Variable', sans-serif;
    --text-font: 'Sentient-Variable', sans-serif;
    --text-font-italic: 'Sentient-VariableItalic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    grid-auto-columns: minmax(min-content, auto);
    font-family: var(--text-font);
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
p {
    margin: 0;
}

.nav,
.home {
    background-color: var(--primary-background-color);
}

.nav {
    position: sticky;
    top: 0;
    z-index: 10;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: subgrid;
    height: min-content;
    padding: 0.875rem;
    border-bottom: 1px solid var(--border-color);
    font-family: var(--heading-font);
    backdrop-filter: blur(10px) saturate(120%);
    background-color: var(--primary-glass);
    -webkit-backdrop-filter: blur(100px);
}

.nav__logo {
    margin: 0;
    grid-column: 2 / 4;
    text-align: center;
    width: max-content;
    font-size: clamp(1.5rem, 2vw, 9rem);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

}

.nav__links {
    grid-column: 6 / 8;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: var(--secondary-background-color);
    border-radius: 1.5rem;
    font-size: 0.8rem;
}

.nav__link {
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
}

.nav__link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.nav__link.active {
    color: var(--primary-color);
}

.nav__ctas {
    grid-column: 10 / 12;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav__cta {
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.nav__cta span {
    align-self: end;
}

.home {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: minmax(min-content, auto);
}

.hero__bg {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
    height: 85vh;
    background:
        radial-gradient(circle at top right, var(--primary-color) 0%, transparent 40%),
        radial-gradient(circle at bottom left, var(--primary-color) 0%, transparent 30%);
    border-radius: 1rem;
    margin: 2rem;
}

.hero {
    height: 85vh;
    grid-column: 1 / -1;
    margin: 2rem;
    grid-row: 1 / 2;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    backdrop-filter: blur(100px) saturate(0.9);
    -webkit-backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.5);
    gap: 1.5rem;

}

.hero__text--container {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.hero__text {
    font-size: 3rem;
    font-family: var(--heading-font);
}

.hero__subtext {
    font-size: 1.2rem;
}

.witSection {
    height: 50vh;
    width: 100%;
    grid-column: 1 / -1;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr 2fr;
}

.witSection__headingContainer {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-top: 1px solid var(--border-color);
}

.witSection__heading {
    font-size: 3rem;
    font-family: var(--heading-font);
}

.witSection__subheading {
    font-size: 1.2rem;
}

.witSection__cardContainer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.card {
    width: min(25%, 600px);
    height: min(60%, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.card__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-family: var(--heading-font);
}

.card__body {
    font-size: 1rem;
    text-align: justify;
}

.card__icon {
    stroke: var(--primary-color);
}


.nav__cta:hover {
    stroke: var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);
}

.signUp {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form {
    background-color: var(--secondary-background-color);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    width: max(20vw, 300px);
    height: max(20vh, 250px);
    grid-template-rows: 1fr 1fr auto;
    gap: 1rem;
    border: 1px solid var(--border-color);
}

.form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 0.3rem;
}

.form__input {
    height: 40px;
    padding: 10px 5px;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
}

.form__button {
    height: 40px;
    border-radius: 0.5rem;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(999px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--secondary-background-color);
}

.copy__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.copy__main {
    font-size: 24px;
}

.copy__text {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.copy__idContainer {
    display: flex;
    height: auto;
    gap: 8px;
    align-items: center;
}

.copy__token {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.2rem;
}

.copy__svg:hover {
    cursor: pointer;
}

.copy__svg--success {
    stroke: var(--primary-color);
}

.form__signUpLink,
.form__loginLink {
    text-decoration: underline;
}

.signUp a:hover {
    cursor: pointer;
}